@media only screen and (max-width: 768px) {
    .tab-content-shop {
        padding-left: 50px
    }
}

body {
    background-color: #e7edf3;
}

/* banner */
.banner {
    padding-bottom: 0px !important;
    padding-top: 15px !important;
    max-height: 450px;

}

.carousel-control {
    position: relative;
}

.carousel-control .carousel-img {
    width: 100%;
}

.carousel-control .carousel-img img {
    width: 915px;
    height: 390px;
}

.carousel-control .carousel-text {
    position: absolute;
}

.slider {
    padding-top: 0px !important;
    max-height: 450px;
}

.tns-nav {
    padding: 5px !important;
}

.banner-item {
    max-height: 115px;
}

.banner-item img {
    padding-left: 15px !important;
}

.banner-item-text {
    padding-top: 15px !important;
    padding-left: 25px !important;
}

/* .product-item {
    margin-right: 40px;
}

.product-item:last-child{
    margin-right: 0px;
} */

.product-container {
    display: grid;
    grid-template-columns: 240px 240px 240px 240px 240px;
    /* grid-template-rows: 500px;  */
    grid-gap: 14px;
    margin-bottom: 50px;
}

/* Chatbox */
button {
    color: inherit;
    background-color: transparent;
    border: 0;
    outline: 0 !important;
    cursor: pointer;
}
button.chatbox-open {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 55px;
    height: 55px;
    color: #fff;
    background-color: #0360a5;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.15);
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    margin: 19px;
}

.review-content {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 10px;
    font-family: inherit;
    font-size: 16px;
    line-height: calc(16px + 16px / 2);
    color: #888;
    background-color: none;
    border: 0;
    outline: 0 !important;
   
    border-radius:5px;
    border-bottom: 1px solid #A9A9A9;
}
.border-textarea{
    border: 1px solid #A9A9A9;
    border-radius:5px;
}
textarea::placeholder {
    color: #888;
}
.chatbox-popup {
    display: flex;
    position: absolute;
    box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
    flex-direction: column;
    display: none;
    bottom: calc(2 * 16px + 52px);
    right: 16px;
    width: 377px;
    height: auto;
    background-color: #fff;
    border-radius: 16px;
}
.chatbox-popup .chatbox-popup__header {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    /* padding: 16px; */
    color: #fff;
    background-color: #0360a5;
    align-items: center;
    justify-content: space-around;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}
.chatbox-popup .chatbox-popup__header .chatbox-popup__avatar {
    margin-top: -32px;
    background-color: #0360a5;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}
.chatbox-popup .chatbox-popup__main {
    box-sizing: border-box;
    width: 100%;
    padding: calc(2 * 16px) 16px;
    line-height: calc(16px + 16px / 2);
    color: #888;
    text-align: center;
}
.chatbox-popup .chatbox-popup__footer {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    padding: 16px;
    border-top: 1px solid #ddd;
    align-items: center;
    justify-content: space-around;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}
.chatbox-panel {
    display: flex;
    position: absolute;
    box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
    flex-direction: column;
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    width: 377px;
    background-color: #fff;
}
.chatbox-panel .chatbox-panel__header {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    padding: 16px;
    color: #fff;
    background-color: #0360a5;
    align-items: center;
    justify-content: space-around;
    flex: 0 0 auto;
}
.chatbox-panel .chatbox-panel__main {
    box-sizing: border-box;
    width: 100%;
    padding: calc(2 * 16px) 16px;
    line-height: calc(16px + 16px / 2);
    color: #888;
    text-align: center;
    flex: 1 1 auto;
}
.chatbox-panel .chatbox-panel__footer {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    padding: 16px;
    border-top: 1px solid #ddd;
    align-items: center;
    justify-content: space-around;
    flex: 0 0 auto;
}

.chatbox-custom {
    z-index: 10;
}

.chatbox-popup {
    position: fixed;
    margin-bottom: 110px;
    height: 400px !important;
}

.chatbox-open, .chatbox-close {
    margin-bottom: 130px !important;
}

.chatbox-popup__main {
    height: 280px !important;
}

p.text-rating {
    font-size: 14px;
    margin-top: 5px;
}
.modal-body-review {
    padding-left: 25px;
    padding-right: 25px;
}
.modal-title-review{
    margin-left:20px;
}
li.text-center.li-rating {
    width: 60px;
}
.textarea-bottom.clearfix.d-flex.justify-content-between {
    height: 40px;
}
.rating-review-product.d-flex.justify-content-between.mt-2 {
    max-height: 100px;
}
button.btn-review.text-primary {
    border-right: 1px solid #d9e1e9;
    font-size: 14px;
}
button.btn-time-review.text-muted {
    font-size: 14px;
}
.image-review {
    position: relative;
    margin-bottom: 10px;
    cursor: pointer;
    display: inline-block;
    margin-right: 8px;
    margin-top: 10px;
    vertical-align: top;
}
img.review_image {
    max-width: 100px;
    max-height: 100px;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}
button.btn-time-review.review-child.text-muted {
    border-right: 1px solid #d9e1e9;
}
.update-review {
    background-color: #fff;
    box-shadow: 0 4px 20px rgb(0 0 0 / 20%);
    border-radius: 4px;
    font-size: 13px;
    line-height: 17px;
    padding: 8px 12px;
    position: absolute;
    width: 140px;
    z-index: 1;
}
.content_review {
    text-align: justify;
}
span.sort-review {
    font-size: 15px;
}
.d-flex.flex-nowrap.align-items-center.sort-review {
    margin-right: auto;
}
/* p.fs-md.mb-2.review {
    text-align: justify;
} */
.form-select-sort {
    padding-top: .425rem;
    padding-bottom: .425rem;
    padding-left: .75rem;
    font-size: 0.9125rem;
    padding-right: 5rem;
}
input.check-sort-review {
    font-size: 15px;
}
.check-filterstar {
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 16px;
    color: #333;
    display: inline-block;
    font-size: 14px;
    line-height: 14px;
    margin-right: 10px;
    padding: 8px 9px;
}
.check-filterstar.active {
    border: 1px solid #2f80ed;
    color: #2f80ed;
}
.product-suggest {
    display: block;
    overflow: hidden;
    border-bottom: 1px solid #eee;
}

.suggest_search li.product_suggest a .item-img {
    float: left;
    width: 60px;
    height: auto;
    margin: 0 6px 0 0;
    margin: auto 0;
}

/* .product_suggest a .item-img img {
    width: 60px;
    height: 60px;
} */

.suggest_search li.product_suggest a .item-info {
    float: left;
    width: calc(100% - 66px);
    margin: auto 0;
}

#content-wrapper #thumbnails {
    padding-top: 25px;
}
.rating-search input {
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #666;
    height: 36px;
    padding: 8px 10px 8px 35px;
    width: 100%;
}
i.fa.fa-search {
    position: relative;
    top: 31px;
    left: 8px;
    font-size: 20px;
}
.review-border {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 15px 15px 20px;
}
.d-inline-block.fw-bold {
    color: #fe8c23;
}
.star_detail {
    font-size: 20px;
}
.div-star {
    position: relative;
}
span.count-review {
    position: absolute;
    right: 0;
    top: 9px;
}
.comment-btn__item.blue {
    background-color: #2f80ed;
    color: #fff;
}
.comment-btn__item:first-child {
    margin-left: 0;
}
.comment-btn__item {
    border: 1px solid #2f80ed;
    border-radius: 4px;
    color: #2f80ed;
    display: block;
    line-height: 17px;
    margin-left: 3%;
    padding: 11px 5px;
    text-align: center;
    width: 48.5%;
}
img.review_image_show {
    max-width: 140px;
    max-height: 140px;
    height: 140px;
    width: 140px;
    object-fit: cover;
    border-radius: 5px;
}
img.review_image_detail {
    max-width: 100px;
    max-height: 100px;
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 5px;
}
.rating-img-rd {
    align-items: center;
    background-color: rgba(0 0 0/.76);
    color: #fff;
    display: flex;
    font-size: 12px;
    justify-content: center;
    height: 100%;
    line-height: 16px;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    border-radius: 5px;
    padding: 0 5px;
}
img.d-block.show.image-review {
    top: 10%;
    object-fit: cover;
    left: 50px;
    height: 350px;
    max-height: 350px;
    width: 450px;
    max-width: 450px;
}
.carousel-caption.d-none.d-md-block {
    top: 30%;
    width: 360px;
    position: absolute;
    left: 550px;
    color: black;
}
p.fs-md.mb-2.review.show {
    text-align: left;
}
.carousel-inner.show{
    height: 400px;
    max-height: 400px;
    position: relative;
    width: 100%;
    overflow: hidden;
}
.carousel-item.show{
    max-height: 500px;
    height: 500px;
}
.d-flex.flex-wrap.flex-column.justify-content-start {
    width: 300px;
}
button.carousel-control-prev.show-previous {
    width: 30px;
    background: gray;
    height: 80px;
    top: 35%;
}
button.carousel-control-next.show-next {
    width: 30px;
    background: gray;
    height: 80px;
    top: 35%;
}

.text-description{
    overflow: hidden;
    text-overflow: ellipsis;
    height: 600px;
}

.product-title {
    font-weight: bold;
    /* padding-bottom: 15px; */
    /* text-align: center; */
}

.product-price span {
    color: #2f80ed;
}

.product-review.pb-4.mb-4.border-bottom {
    position: relative;
}
.info-buying {
    background-color: #ebebeb;
    bottom: 30px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 12%);
    border-radius: 4px;
    color: #333;
    /* display: none; */
    padding: 20px 0px 0px;
    position: absolute;
    transition: .3s;
    left: 90px;
    width: 320px;
}
.info-buying-close {
    background-color: #333;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgb(0 0 0 / 12%);
    height: 25px;
    position: absolute;
    top: -10px;
    right: -10px;
    width: 25px;
}
.info-buying-txt {
    display: flex;
    justify-content: center;
}
.info-buying .txtitem:first-child {
    margin-right: 80px;
}
.info-buying .txtitem {
    text-align: center;
}
.txtitem .txt01 {
    color: #666;
}
.txtitem .txt01, .txtitem .txtdate {
    font-size: 12px;
    line-height: 16px;
}
.txtitem .txtdate {
    font-weight: bold;
}
.txtitem .txt01, .txtitem .txtdate {
    font-size: 12px;
    line-height: 5px;
}
.length-using {
    background-color: #c4c4c4;
    height: 1px;
    margin: 10px auto 0;
    position: relative;
    width: 190px;
}
.length-percent {
    background-color: #999;
    height: 3px;
    position: relative;
    top: -1px;
}
.info-buying .timeline-txt {
    font-size: 12px;
    line-height: 16px;
    margin-top: 10px;
    text-align: center;
}
.info-buying .timeline-txt span {
    font-weight: bold;
}
.info-buying-list {
    margin-top: 15px;
}
.info-buying-list li {
    color: #666;
    font-size: 12px;
    line-height: 17px;
    margin-bottom: 5px;
}
.info-buying-list li span {
    background-color: #666;
    border-radius: 50%;
    display: inline-block;
    height: 4px;
    margin: 6px 6px 0 0;
    vertical-align: top;
    width: 4px;
}
.info-buying-text {
    display: flex;
    justify-content: center;
}

.length-percent::before {
    left: 0;
}
.length-percent::before, .length-percent::after {
    background-color: #53b859;
    border-radius: 50%;
    content: '';
    height: 8px;
    position: absolute;
    top: -3px;
    width: 8px;
}
.length-percent::after {
    right: 0;
}
.length-percent::before, .length-percent::after {
    background-color: #53b859;
    border-radius: 50%;
    content: '';
    height: 8px;
    position: absolute;
    top: -3px;
    width: 8px;
}
.length-using::before {
    border-top: 1px solid #c4c4c4;
    border-right: 1px solid #c4c4c4;
    content: '';
    height: 6px;
    position: absolute;
    transform: rotate(45deg);
    top: -2px;
    right: 0;
    width: 6px;
}

.info-buying-close::before {
    transform: rotate(45deg);
}
.info-buying-close::before, .info-buying-close:after {
    background-color: #fff;
    content: '';
    height: 13px;
    left: 9px;
    position: absolute;
    top: 4px;
    width: 2px;
}
.info-buying-close::after {
    transform: rotate(-45deg);
}
.info-buying-close::before, .info-buying-close:after {
    background-color: #fff;
    content: '';
    height: 13px;
    left: 9px;
    position: absolute;
    top: 4px;
    width: 2px;
}
#content-wrapper .box-gallery{
    height: 100%;
}

.banner-main {
    position: absolute;
    display: flex;
    margin-top: 130px;
}

.banner-main .banner-left img:hover{
    transform: scale(1.1);
    transition: 0.3s
}

.banner-main .banner-center {
    z-index: -1;
}

.banner-main .banner-right img:hover{
    transform: scale(1.1);
    transition: 0.3s
}

.banner-fixed {
    position: fixed;
    top: 75px;
}

.btn-show {
    width: 100%;
    height: 400px;
    display: flex;
    position: absolute;
    left: 0;
    bottom: 0;
    padding-top: 320px;
}

.fade-desc {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.91) 50%, #fff 100%);
}

.btn-show button {
    /* width: 100%; */
    max-width: 335px;
    height: 40px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;
    font-size: 14px;
    color: #212529;
    text-decoration: none!important;
    cursor: pointer;
}

.user-space {
    display: flex;
}

.search-form-header {
    width: 60%;
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.cart__dropdown {
    width: 120px;
}

.user-icon {
    width: 150px;
    text-overflow: none;
    overflow: auto;
}

.trending-product h2 {
    margin-bottom: 0px !important;
    margin: auto 0
}

.highlight-product h2 {
    margin-bottom: 0px !important;
    margin: auto 0;
}

.product-card .card-body {
    margin-bottom: 15px !important;
}

@media screen and (max-width: 1366px) {
    .banner-main {
        display: none;
    }
}

@media only screen and (width: 1024px) {
    .trending-product {
        margin-top: 100px;
    }

    .nav-slider {
        padding-left: 80px;
    }

    .cart__dropdown a small {
        display: none;
    }

    .sale-price {
        flex-direction: column;
        text-align: center;
    }
}

    .fw-normal {
        font-weight: 600 !important;
    }
    #content-wrapper .lSPager {
        margin-left: calc(100% - 73%) !important;
        margin-top: 20px !important;
    }
@media screen and (max-width: 600px) {
    body {
        max-width: 100%;
        background-color: #fff;
    }
    .product-card .card-body {
        margin-bottom: 0 !important;
    }
    .topbar {
        width: 100% !important;
    }

    .topbar-text {
        width: 100%;
        text-align: center;
    }

    .cart__dropdown {
        display: none;
    }

    .handheld-toolbar {
        max-width: 100%;
    }

   .navbar-brand>img {
    width: 100px;
   }

   .navbar .container .navbar-brand {
       padding-left: calc(100% - 65%)!important;
    }

   .navbar-sticky {
       width: 100%;
       
   }
   .bh-widget-page__call-to-action {
       display:none
   }
   /* .navbar-stuck-menu{
       display: none;
   } */

   .carousel-control .carousel-img img {
       height: 200px;
   }

   .carousel-control h1{
       font-size: 20px;
   }
   .carousel-control h4{
       font-size: 18px;
   }
   .carousel-control .btn{
       width: 100px;
       font-size: 10px;
   }

   .nav-slider {
       padding-left: 15px !important
   }

   .trending-product {
       /* margin-bottom: 50px; */
       margin-top: 0px !important;
       padding-top: 20px !important;
       text-align: center;
   }    

   .trending-product h2 {
       font-size: 18px;
   }

   .highlight-product {
       margin-bottom: 60px;
       text-align: center;
   }

   .highlight-product h2 {
       font-size: 18px;
   }

   .page-title-overlap+* {
       margin-top: -5.875rem;
    }

    .order-lg-1 {
        width: 100%;
    }
    .order-lg-1 p {
        width: 100%;
        padding-top: 20px;
        text-align: center;
    }

    .detail-tab {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .detail-tab .tab-content {
        width: 100%;
        margin: 0 auto;
        display: flex !important;
        justify-content: center !important;
    }

    .tab-pane {
        width: 300px;
    }

    .detail-content {
        display: contents;
        
    }

    #choice_attribute_options {
        width: 315px;
        padding: 0 10px;
    }

    .btn-time-review {
        padding-left: 0px !important;
    }

    .btn-review {
        padding-left: 0px !important;
    }

    .user-ct{
        display: none;
    }

    .user-space {
        display: none;
    }

    #product-short hr {
        display: none;
    }

    .sale-price {
        flex-direction: column;
        font-size: 14px;
        text-align: center;
    }

    .swiper-button-next {
        display: none !important;
    }
    .swiper-button-prev {
        display: none !important;
    }

    .other-product {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    #div_id {
        padding-right: 15px !important;
    }

    .tab-content-shop {
        padding-right: 20px !important;
        padding: 20px;
    }

    .product-meta {
        height: 20px;
        white-space: nowrap;
        overflow: hidden;
    }

    .product-title {
        width: 100%;
        height: 36px !important;
        /* white-space: nowrap; */
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .product-title a{
        word-wrap: break-word; 
    }

    .review-table {
        padding: 0;
        margin: 0;
    }

    .gallery-slider .swiper-slide img {
        width: 100% !important;
        margin-left: 0% !important;
    }

    #content-wrapper .lSPager {
        margin-left: calc(100% - 73%) !important;
        margin-top: 20px !important;
    }

    ._314-2d0405 {
        flex-direction: column !important;
    }

    ._314-65a424 {
        display: block;
    }

    .content-review {
        display: contents !important;
    }

    #cart_0 {
        padding-top: 25px !important;
    }

    .form-quantity {
        width: 100%;
        justify-content: center;
    }

    .btn-checkout-btn {
        width: 100%;
        text-align: center;
    }

    .box-checkout-review {
        margin-bottom: 120px !important;
    }

    .checkout-success::before {
        margin-left: 7% !important;
        margin-top: 15px !important;
    }

    .form-address-default {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 1280px) {
    .box-gallery {
        width: 100% !important;
    }
    
    .swiper-slide-active {
        width: 100%;
    }

    .btn-wishcom {
        flex-direction: column;
    }
}

@media only screen and (max-width: 768px) {
    body {
        max-width: 100%;
    }

    .topbar {
        width: 100%;
    }

    .topbar-text {
        /* width: 768px; */
        text-align: center;
    }

    .navbar-sticky {
        width: 100%;
        justify-content: center;
    }

    .cart__dropdown {
        display: none;
    }
    .other-product {
        padding-left: 10px;
        padding-right: 50px;
    }
    #div_id {
        padding-right: 45px;
    }

    .order-lg-1 {
        width: 100%;
    }
    .order-lg-1 p {
        width: 100%;
        padding-top: 20px;
        text-align: center;
    }
    .user-ct{
        display: none;
    }

    .user-space {
        display: none;
    }
    .navbar .container .navbar-brand {
        padding-left: calc(100% - 60%);
    }
    .nav-slider {
        padding-left: 0px !important;
    }
    .nav-s .banner-item {
        max-width: 170px !important;
    }

    .trending-product {
        margin-top: 120px;
    }

    .card .product-card {
        display: block;
    }

    .card-body-hidden {
        display: block;
    }

    .product-card .card-body {
        margin-bottom: 0 !important;
    }
}
/*******************
 Preloader
 ********************/
 .preloader {
    width: 100%;
    height: 100%;
    top: 0px;
    position: fixed;
    z-index: 99999;
    background: #fff;
  }
  .lds-ripple {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
    position: absolute;
    top: calc(50% - 3.5px);
    left: calc(50% - 3.5px);
  }
  .lds-ripple .lds-pos {
    position: absolute;
    border: 2px solid #2962FF;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.1, 0.5, 1) infinite;
  }
  .lds-ripple .lds-pos:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 28px;
      left: 28px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    5% {
      top: 28px;
      left: 28px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: -1px;
      left: -1px;
      width: 58px;
      height: 58px;
      opacity: 0;
    }
  }
  