@media only screen and (max-width: 768px) {
    .tab-content-shop {
        padding-left: 50px
    }
}

/* banner */
.banner {
    padding-bottom: 0px !important;
    padding-top: 15px !important;
    max-height: 450px;

}

.carousel-control {
    position: relative;
}

.carousel-control .carousel-img {
    width: 100%;
}

.carousel-control .carousel-img img {
    width: 915px;
    height: 390px;
}

.carousel-control .carousel-text {
    position: absolute;
}

.slider {
    padding-top: 0px !important;
    max-height: 450px;
}

.tns-nav {
    padding: 5px !important;
}

.banner-item {
    max-height: 115px;
}

.banner-item img {
    padding-left: 15px !important;
}

.banner-item-text {
    padding-top: 15px !important;
    padding-left: 25px !important;
}

/* .product-item {
    margin-right: 40px;
}

.product-item:last-child{
    margin-right: 0px;
} */

.product-container {
    display: grid;
    grid-template-columns: 240px 240px 240px 240px 240px;
    /* grid-template-rows: 500px;  */
    grid-gap: 14px;
    margin-bottom: 50px;
}

/* Chatbox */
button {
    color: inherit;
    background-color: transparent;
    border: 0;
    outline: 0 !important;
    cursor: pointer;
}
button.chatbox-open {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 52px;
    height: 52px;
    color: #fff;
    background-color: #0360a5;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.15);
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    margin: 16px;
}
button.chatbox-close {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 52px;
    height: 52px;
    color: #fff;
    background-color: #0360a5;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.15);
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    margin: 16px calc(2 * 16px + 52px) 16px 16px;
}
.review-content {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 10px;
    font-family: inherit;
    font-size: 16px;
    line-height: calc(16px + 16px / 2);
    color: #888;
    background-color: none;
    border: 0;
    outline: 0 !important;
   
    border-radius:5px;
    border-bottom: 1px solid #A9A9A9;
}
.border-textarea{
    border: 1px solid #A9A9A9;
    border-radius:5px;
}
textarea::placeholder {
    color: #888;
}
.chatbox-popup {
    display: flex;
    position: absolute;
    box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
    flex-direction: column;
    display: none;
    bottom: calc(2 * 16px + 52px);
    right: 16px;
    width: 377px;
    height: auto;
    background-color: #fff;
    border-radius: 16px;
}
.chatbox-popup .chatbox-popup__header {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    /* padding: 16px; */
    color: #fff;
    background-color: #0360a5;
    align-items: center;
    justify-content: space-around;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}
.chatbox-popup .chatbox-popup__header .chatbox-popup__avatar {
    margin-top: -32px;
    background-color: #0360a5;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}
.chatbox-popup .chatbox-popup__main {
    box-sizing: border-box;
    width: 100%;
    padding: calc(2 * 16px) 16px;
    line-height: calc(16px + 16px / 2);
    color: #888;
    text-align: center;
}
.chatbox-popup .chatbox-popup__footer {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    padding: 16px;
    border-top: 1px solid #ddd;
    align-items: center;
    justify-content: space-around;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}
.chatbox-panel {
    display: flex;
    position: absolute;
    box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
    flex-direction: column;
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    width: 377px;
    background-color: #fff;
}
.chatbox-panel .chatbox-panel__header {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    padding: 16px;
    color: #fff;
    background-color: #0360a5;
    align-items: center;
    justify-content: space-around;
    flex: 0 0 auto;
}
.chatbox-panel .chatbox-panel__main {
    box-sizing: border-box;
    width: 100%;
    padding: calc(2 * 16px) 16px;
    line-height: calc(16px + 16px / 2);
    color: #888;
    text-align: center;
    flex: 1 1 auto;
}
.chatbox-panel .chatbox-panel__footer {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    padding: 16px;
    border-top: 1px solid #ddd;
    align-items: center;
    justify-content: space-around;
    flex: 0 0 auto;
}

.chatbox-custom {
    z-index: 10;
}

.chatbox-popup {
    position: fixed;
    margin-bottom: 80px;
    height: 400px !important;
}

.chatbox-open, .chatbox-close {
    margin-bottom: 80px !important;
}

.chatbox-popup__main {
    height: 280px !important;
}

p.text-rating {
    font-size: 14px;
    margin-top: 5px;
}
.modal-body-review {
    padding-left: 25px;
    padding-right: 25px;
}
.modal-title-review{
    margin-left:20px;
}
li.text-center.li-rating {
    width: 60px;
}
.textarea-bottom.clearfix.d-flex.justify-content-between {
    height: 40px;
}
.rating-review-product.d-flex.justify-content-between.mt-2 {
    max-height: 100px;
}
button.btn-review.text-primary {
    border-right: 1px solid #d9e1e9;
    font-size: 14px;
}
button.btn-time-review.text-muted {
    font-size: 14px;
}
.image-review {
    margin-bottom: 10px;
    cursor: pointer;
    display: inline-block;
    margin-right: 8px;
    margin-top: 10px;
    vertical-align: top;
}
img.review_image {
    width: 125px;
    height: 125px;
    object-fit: cover;
    border-radius: 5px;
}
button.btn-time-review.review-child.text-muted {
    border-right: 1px solid #d9e1e9;
}
.update-review {
    background-color: #fff;
    box-shadow: 0 4px 20px rgb(0 0 0 / 20%);
    border-radius: 4px;
    font-size: 13px;
    line-height: 17px;
    padding: 8px 12px;
    position: absolute;
    width: 140px;
    z-index: 1;
}
.content_review {
    text-align: justify;
}
span.sort-review {
    font-size: 15px;
}
.d-flex.flex-nowrap.align-items-center.sort-review {
    margin-right: auto;
}
p.fs-md.mb-2.review {
    text-align: justify;
}
.form-select-sort {
    padding-top: .425rem;
    padding-bottom: .425rem;
    padding-left: .75rem;
    font-size: 0.9125rem;
    padding-right: 5rem;
}
input.check-sort-review {
    font-size: 15px;
}
.check-filterstar {
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 16px;
    color: #333;
    display: inline-block;
    font-size: 14px;
    line-height: 14px;
    margin-right: 10px;
    padding: 8px 9px;
}
.check-filterstar.active {
    border: 1px solid #2f80ed;
    color: #2f80ed;

.product-suggest {
    display: block;
    overflow: hidden;
    border-bottom: 1px solid #eee;
}

.suggest_search li.product_suggest a .item-img {
    float: left;
    width: 60px;
    height: auto;
    margin: 0 6px 0 0;
    margin: auto 0;
}

/* .product_suggest a .item-img img {
    width: 60px;
    height: 60px;
} */

.suggest_search li.product_suggest a .item-info {
    float: left;
    width: calc(100% - 66px);
    margin: auto 0;
}

#content-wrapper #thumbnails {
    padding-top: 25px;
}