.col-lg-12.mt-2.rating_reply_content {
    border-left: 6px solid #dddbdb;
    padding-left: 10px;
}
.form-comment textarea {
    height: 100px;
}

.body-comment {
    width: 800px;
    line-height: 1.8;
}

.line {
    padding-bottom: 10px;
    position: relative;
}

.form-comment-text {
    border-radius: 4px 4px 0 0;
}

.line .connect {
    position: absolute;
    left: 12px;
    width: 3px;
    height: 100%;
    overflow-y: hidden;
    padding-top: 30px;
}

.line .connect::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #a09797;
    border-radius: 2px;
}

.btn-submit-text {
    border: none;
    outline: none;
    background: #fe696a;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
}

.childs-comment-line {
    position: relative;
}

.childs-comment-line::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 13px;
    background: #a09797;
    left: -15px;
    top: 18px;
}

.infocomment {
    display: block;
    clear: both;
    margin-bottom: 20px;
}

.commentask {
    display: block;
    overflow: visible;
    margin: 10px 0 0;
}

.commentask strong {
    margin-top: 5px;
    text-transform: capitalize;
}

.iconcom-user {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: none;
    background-color: rgb(213, 145, 156);
    margin-right: 3px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 26px;
    font-style: normal;
}

.relate_infocom .reply {
    cursor: pointer;
    color: #4a90e2;
}

.infocom_ask {
    padding-top: 8px;
    display: block;
    font-size: 14px;
    color: #4a4a4a;
    line-height: 22px;
    margin-left: 30px;
    position: relative;
}

.relate_infocom {
    display: flex;
    align-items: center;
    overflow: visible;
    height: 18px;
    padding: 5px 0;
    font-size: 12px;
    color: #666;
    position: relative;
}

.relate_infocom span {
    float: left;
}

.clr {
    clear: both;
}

.relate_infocom .list-like {
    margin-left: 2px;
    display: flex;
    height: 18px;
    align-items: center;
    padding: 1px 8px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 2px 2px 2px #a09797;
    position: relative;
}

.relate_infocom .list-like:hover .comment-list-like-user {
    display: block;
    visibility: visible;
    pointer-events: none;
}

.relate_infocom>.list-like>.comment-list-like-user {
    position: absolute;
    top: 20px;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 200px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    display: none;
    visibility: hidden;
    pointer-events: none;
}

.relate_infocom>.list-like>.comment-list-like-user>.name-user {
    display: block;
    padding: 2px 8px;
    width: 120px;
    color: #FFF;
}

.relate_infocom .list-like i {
    color: #4a90e2;
    margin-right: 4px;
}

.relate_infocom .date {
    width: 100px;
    display: flex;
    align-items: center;
}

.relate_infocom .dot {
    float: left;
    display: inline;
    font-size: 8px;
    vertical-align: middle;
    margin: 2px 5px;
    color: #babbb8;
}

.relate_infocom .like {
    float: none;
    color: #676767;
}

.isLike i,
.isLike span {
    float: none;
    color: #4a90e2;
}

.fa-thumbs-o-up {
    background-position: -106px -25px;
    width: 13px;
    height: 13px;
    margin-top: 5px;
}


/*  Trả lời bình luận */

.comment_reply {
    display: block;
    margin-top: 15px;
    position: relative;
    background: #ece9c7;
    border: 1px solid #e7e7e7;
    padding: 15px 10px;
    font-size: 14px;
    color: #333;
    margin-left: 30px;
}

.avt-qtv {
    float: left;
    width: 27px;
    height: 27px;
    margin-right: 5px;
    text-align: center;
    color: #666;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 26px;
    font-weight: 600;
    text-shadow: 1px 1px 0 rgb(255 255 255 / 20%);
}

.avt-qtv img {
    margin-top: -5px;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.qtv {
    margin-top: -3px;
    text-transform: uppercase;
    margin-right: 10px;
    color: black;
    font-weight: normal;
    font-size: 10px;
    background: #f1c40f;
    padding: 2px 6px;
    border-radius: 3px;
    line-height: 18px;
    height: 18px;
    margin-left: 10px;
}

.comment_reply::before {
    position: absolute;
    content: '';
    background: #ece9c7;
    height: 30px;
    width: 30px;
    transform: rotate(-45deg);
    top: -8px;
    left: 5px;
    z-index: -1;
}

.totalcomment-reply {
    display: block;
    padding: 10px 0 0;
    border-top: 1px solid #b4b4b4;
    font-size: 12px;
    color: #4a90e2;
    cursor: pointer;
    margin-top: 7px;
}

.numlike {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.numlike span {
    cursor: pointer;
}

.numlike i {
    margin-top: -2px;
    cursor: pointer;
    margin-right: 2px;
}

.edit-comment {
    cursor: pointer;
}

.form-comment-show {
    position: relative;
}

.form-reply-show {
    background: #fff;
    height: 120px;
    border-radius: 5px;
    overflow: hidden;
}

.form-reply-show .form-footer {
    display: block;
    position: relative;
    height: 40px;
}

.form-reply-show .form-footer button {
    position: absolute;
    background: #fe696a;
    right: 0;
    display: inline-block;
    height: 40px;
    width: 100px;
    padding: 0 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}

.form-reply-show textarea {
    height: 80px;
}

.handle {
    z-index: 1;
    display: flex;
    right: 0;
    position: absolute;
}

.handle>button {
    border: none;
    outline: none;
    display: inline-flex;
    align-items: center;
    margin-right: 4px;
    border-radius: 10px;
    height: 20px;
    padding: 0px 8px;
    font-size: 12px;
    background-color: white;
}
.rating_reply{
    padding: 10px 8px;
    display: block;
    margin-top: 15px;
    position: relative;
    background: #f8f8f8;
    border: 1px solid #e7e7e7;
    font-size: 14px;
    color: #333;
    /* margin-left: 30px; */
}
.rating_reply::before {
    position: absolute;
    content: '';
    background: #f8f8f8;
    height: 30px;
    width: 30px;
    transform: rotate(-45deg);
    top: -8px;
    left: 130px;
    z-index: -1;
    border: 1px solid #e7e7e7;
}
.form-review {
    border: none;
    background: #fff;
    border-radius: 0 0 4px 4px;
}

.d-flex.error-review {
    justify-content: space-between;
}

/* Admin quản lý commnet clients */

.admin-com {
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 0.5px solid #fe696a;
    justify-content: center;
    align-items: center;
    background: #fff;
    cursor: pointer;
    /* visibility: hidden; */
}

.admin-com i {
    font-size: 9px;
    color: #fe696a;
}

.admin-com .admin-handle {
    position: absolute;
    top: 10px;
    right: 0;
    z-index: 100000;
    display: none;
    visibility: hidden;
    padding-top: 10px;
}

.admin-com .admin-handle ul {
    background: #FFF;
    width: 80px;
    font-size: 12px;
    border: 0.5px solid #fe696a;
    border-radius: 5px;
    padding-left: 0;
}

.admin-com .admin-handle ul span {
    display: block;
    padding: 0 5px;
}

.admin-com .admin-handle ul span:hover {
    color: #fe696a;
    background: #e7e7e7;
}

.admin-com:hover>.admin-handle {
    display: block;
    visibility: visible;
}


/* Tìm kiếm */

.tt-menu {
    margin-left: 15px;
    width: 670px;
    border: 0.5px solid #EEEEEE;
}

.tt-menu img {
    margin-right: 5px;
    margin-top: 5px;
}