.col-lg-12.mt-2.rating_reply_content {
    border-left: 6px solid #dddbdb;
    padding-left: 10px;
}

.form-comment textarea {
    height: 100px;
}

.body-comment {
    width: 800px;
    line-height: 1.8;
}

.line {
    padding-bottom: 10px;
    position: relative;
}

.form-comment-text {
    border-radius: 4px 4px 0 0;
}

.line .connect {
    position: absolute;
    left: 12px;
    width: 3px;
    height: 100%;
    overflow-y: hidden;
    padding-top: 30px;
}

.line .connect::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #fe696a;
    border-radius: 2px;
}

.btn-submit-text {
    border: none;
    outline: none;
    background: #fe696a;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
}

.childs-comment-line {
    position: relative;
    padding-left: 30px;
    padding-top: 8px;
}

.childs-comment-line::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 13px;
    background: #fe696a;
    left: 15px;
    top: 18px;
}

.infocomment {
    display: block;
    clear: both;
    margin-bottom: 20px;
}

.commentask {
    display: block;
    overflow: visible;
    margin: 10px 0;
}

.commentask strong {
    margin-top: 5px;
    text-transform: capitalize;
}

.iconcom-user {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: none;
    background-color: rgb(213, 145, 156);
    margin-right: 3px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 26px;
    font-style: normal;
}

.infocom_ask {
    padding-top: 8px;
    display: block;
    font-size: 14px;
    color: #4a4a4a;
    line-height: 22px;
    margin-left: 30px;
    position: relative;
}

.relate_infocom {
    display: flex;
    align-items: center;
    overflow: visible;
    height: 18px;
    padding: 5px 0;
    font-size: 12px;
    color: #666;
    position: relative;
    margin-top: 5px;
}

.relate_infocom .reply {
    cursor: pointer;
    color: #4a90e2;
}

.relate_infocom span {
    float: left;
}

.clr {
    clear: both;
}

.relate_infocom .list-like {
    margin-left: 2px;
    display: flex;
    height: 18px;
    align-items: center;
    padding: 1px 8px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 2px 2px 2px #a09797;
    position: relative;
}

.relate_infocom .list-like:hover .comment-list-like-user {
    display: block;
    visibility: visible;
    pointer-events: none;
}

.relate_infocom>.list-like>.comment-list-like-user {
    position: absolute;
    top: 20px;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 200px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    display: none;
    visibility: hidden;
    pointer-events: none;
}

.relate_infocom>.list-like>.comment-list-like-user>.name-user {
    display: block;
    padding: 2px 8px;
    width: 120px;
    color: #FFF;
}

.relate_infocom .list-like i {
    color: #4a90e2;
    margin-right: 4px;
}

.relate_infocom .date {
    width: 100px;
    display: flex;
    align-items: center;
}

.relate_infocom .dot {
    float: left;
    display: inline;
    font-size: 8px;
    vertical-align: middle;
    margin: 2px 5px;
    color: #babbb8;
}

.relate_infocom .like {
    float: none;
    color: #676767;
}

.isLike i,
.isLike span {
    float: none;
    color: #4a90e2;
}

.fa-thumbs-o-up {
    background-position: -106px -25px;
    width: 13px;
    height: 13px;
    margin-top: 5px;
}


/*  Trả lời bình luận */

.comment_reply {
    display: block;
    margin: 10px 0 0 30px;
    position: relative;
    background: #f8f8f8;
    padding: 15px 10px;
    font-size: 14px;
    color: #333;
    border-radius: 10px;
}

.avt-qtv {
    float: left;
    width: 27px;
    height: 27px;
    margin-right: 5px;
    text-align: center;
    color: #666;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 26px;
    font-weight: 600;
    text-shadow: 1px 1px 0 rgb(255 255 255 / 20%);
}

.avt-qtv img {
    margin-top: -5px;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.qtv {
    margin-top: -3px;
    text-transform: uppercase;
    margin-right: 10px;
    color: black;
    font-weight: normal;
    font-size: 10px;
    background: #f1c40f;
    padding: 2px 6px;
    border-radius: 3px;
    line-height: 18px;
    height: 18px;
    margin-left: 10px;
}

.comment_reply::before {
    position: absolute;
    content: '';
    background: #f8f8f8;
    height: 30px;
    width: 30px;
    transform: rotate(-45deg);
    top: -8px;
    left: 5px;
    z-index: -1;
}

.totalcomment-reply {
    display: block;
    padding: 10px 0 0;
    border-top: 1px solid #b4b4b4;
    font-size: 12px;
    color: #4a90e2;
    cursor: pointer;
    margin-top: 7px;
}

.numlike {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.numlike span {
    cursor: pointer;
}

.numlike i {
    margin-top: -2px;
    cursor: pointer;
    margin-right: 2px;
}

.edit-comment {
    cursor: pointer;
}

.form-comment-show {
    position: relative;
}

.form-reply-show {
    background: #fff;
    height: 120px;
    border-radius: 5px;
    overflow: hidden;
}

.form-reply-show .form-footer {
    display: block;
    position: relative;
    height: 40px;
}

.form-reply-show .form-footer button {
    position: absolute;
    background: #fe696a;
    right: 0;
    display: inline-block;
    height: 40px;
    width: 100px;
    padding: 0 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}

.form-reply-show textarea {
    height: 80px;
}

.handle {
    z-index: 1;
    display: flex;
    right: 0;
    position: absolute;
}

.handle .edit {
    background: #4a90e2;
    color: #fff;
}

.handle .esc {
    background: #FFFF00;
    color: #000;
}

.handle>button {
    border: none;
    outline: none;
    display: inline-flex;
    align-items: center;
    margin-right: 4px;
    border-radius: 10px;
    height: 20px;
    padding: 0px 8px;
    font-size: 12px;
    background-color: white;
}

.rating_reply {
    padding: 10px 8px;
    display: block;
    margin-top: 15px;
    position: relative;
    background: #f8f8f8;
    border: 1px solid #e7e7e7;
    font-size: 14px;
    color: #333;
    /* margin-left: 30px; */
}

.rating_reply::before {
    position: absolute;
    content: '';
    background: #f8f8f8;
    height: 30px;
    width: 30px;
    transform: rotate(-45deg);
    top: -8px;
    left: 130px;
    z-index: -1;
    border: 1px solid #e7e7e7;
}

.form-review {
    border: none;
    background: #fff;
    border-radius: 0 0 4px 4px;
}

.d-flex.error-review {
    justify-content: space-between;
}


/* Admin quản lý commnet clients */

.admin-com {
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 0.5px solid #fe696a;
    justify-content: center;
    align-items: center;
    background: #fff;
    cursor: pointer;
    /* visibility: hidden; */
}

.admin-com i {
    font-size: 9px;
    color: #fe696a;
}

.admin-com .admin-handle {
    position: absolute;
    top: 10px;
    right: 0;
    z-index: 100000;
    display: none;
    visibility: hidden;
    padding-top: 10px;
}

.admin-com .admin-handle ul {
    background: #FFF;
    width: 80px;
    font-size: 12px;
    border: 0.5px solid #fe696a;
    border-radius: 5px;
    padding-left: 0;
}

.admin-com .admin-handle ul span {
    display: block;
    padding: 0 5px;
}

.admin-com .admin-handle ul span:hover {
    color: #fe696a;
    background: #e7e7e7;
}

.admin-com:hover>.admin-handle {
    display: block;
    visibility: visible;
}

.comment_reply_parent {
    display: block;
    padding-left: 30px;
}

.comment_reply_child {
    display: block;
    padding-left: 60px;
}


/* Tìm kiếm */

.tt-menu {
    margin-left: 15px;
    width: 670px;
    border: 0.5px solid #EEEEEE;
}

.tt-menu img {
    margin-right: 5px;
    margin-top: 5px;
}


/* Style load more */

.comment_reply .out-parent-load:nth-child(n+3) {
    display: none;
}

.comment_reply .out-child-load:nth-child(n+8) {
    display: none;
}

.content-load-more-child {
    display: block;
    position: relative;
    width: 95%;
    margin: auto;
    border-top: 1px solid #4a90e2;
}

.content-load-more-parent {
    display: flex;
    width: 100%;
    justify-content: center;
}

.content-load-more-child span,
.content-load-more-parent span {
    display: flex;
    align-items: center;
    padding: 10px 0;
    color: #4a90e2;
    cursor: pointer;
}

.content-load-more-child span i {
    margin-left: 5px;
}

.content-not {
    position: relative;
    height: 100px;
    width: 100%;
    -webkit-box-shadow: 0 0 10px #bbb;
    box-shadow: 0 0 10px #bbb;
    padding: 5px 10px;
    align-items: center;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 10px;
}

.content-not:hover .content-body {
    color: #fe696a;
}

.content-not::before {
    content: '';
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    z-index: -1;
    background: #fe696a;
    top: -7px;
    right: -7px;
}

.icon-ct {
    width: 10%;
}

.content-not .content-body {
    display: block;
    color: #333333;
    padding: 0 10px;
    width: 80%;
}

.content-not .content-body>.time {
    display: block;
    padding: 5px 0;
    font-size: 12px;
}

.content-not .content-handle {
    width: 10%;
}

.content-not .content-handle>span {
    position: absolute;
    right: 4px;
    top: 0;
    z-index: 2;
    color: #fff;
    display: inline-block;
}

.content-not .content-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    background-color: beige;
    border-radius: 50%;
}

.content-not .content-icon i {
    font-size: 30px;
}


/* dropdown */

.navbar-tool-text {
    width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.user-ct:hover .content-user {
    visibility: visible;
    display: block;
}

.content-user {
    visibility: hidden;
    display: none;
    position: absolute;
    padding-top: 10px;
    left: -102px;
    z-index: 1;
    width: 250px;
}

.content-user>ul {
    display: block;
    width: 100%;
    background: #fff;
    padding-left: 0;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 10px #CCCCCC;
    box-shadow: 0 0 10px #CCCCCC;
}

.content-user>ul::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: #fff;
    transform: rotate(45deg);
    top: 0;
    left: 46%;
    z-index: -1;
    -webkit-box-shadow: 0 0 10px #CCCCCC;
    box-shadow: 0 0 10px #CCCCCC;
}

.content-user>ul>li {
    display: block;
    padding: 10px 20px;
}

.content-user>ul>li>a {
    display: flex;
    width: 100%;
    font-size: 14px;
    color: #000;
    align-items: center
}

.content-user>ul>li>a>i {
    margin-right: 8px;
    font-size: 15px;
}

.content-user>ul>li>a>span {
    background: #fe696a;
    margin-left: 5px;
    font-size: 11px;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.content-user>ul>li:hover {
    background: #EEEEEE;
    color: #fe696a;
}

.content-user>ul>li:hover>a {
    color: #fe696a;
}

.content-user>ul>li:hover>a>span {
    color: #fff;
}

.moving {
    font-size: 12px;
    color: #676767;
}

.content-loader {
    position: absolute;
    height: 100%;
    margin-left: -10px;
    margin-top: -10px;
    width: 102%;
    background: white;
    z-index: 3;
}

.loader {
    margin: auto;
    margin-top: 100px;
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #fe696a;
    /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.nav-material>li {
    cursor: pointer;
}

.content-handle {
    display: flex;
    padding: 10px 0;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.select-comment {
    width: 50%;
}

.search-comment {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    position: relative;
    align-items: center;
}

.search-comment input {
    border: none;
    -webkit-box-shadow: 0 0 10px #CCCCCC;
    box-shadow: 0 0 10px #CCCCCC;
    border-radius: 10px;
    padding: 10px;
}

.search-comment input:focus {
    outline: 1px solid#fe696a;
}

.search-comment span {
    position: absolute;
    right: 10px;
}

.select-comment>select {
    width: 150px;
}

.form-comment {
    display: block;
    background: #DDDDDD;
    height: 210px;
    padding: 40px 20px 20px 20px;
    position: relative;
}

.form-comment .title-comment {
    position: absolute;
    width: 200px;
    height: 50px;
    background: #fff;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    margin: auto;
    top: -30px;
    border: 2px solid #DDDD;
    /* -webkit-box-shadow: 0 0 10px #CCCCCC;
    box-shadow: 0 0 10px #CCCCCC; */
}

.nullable {
    padding-top: 50px;
    display: flex;
    width: 300px;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nullable .icon-null {
    padding: 10px 0;
}

.nullable .icon-null i {
    font-size: 10rem;
    color: yellow;
}

.nullable .text-null {
    font-size: 20px;
    font-weight: 400;
    padding: 10px 0;
}

.nullable>a {
    background: #fe696a;
    padding: 8px 15px;
    color: #fff;
    border-radius: 5px;
}

.delete-notifica {
    position: absolute;
    right: 0;
    top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background: #fe696a;
    border-radius: 50%;
    cursor: pointer;
}

.delete-notifica>i {
    font-size: 1rem;
    color: #fff;
}